@tailwind base;
@tailwind components;
@tailwind utilities;

.delete-dialog .cancel {
    @apply inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
}
.delete-dialog .confirm {
    @apply inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out;
}

.product-view-cart-btn {
    @apply flex w-full justify-center bg-blue-500 rounded-md py-3 text-white mt-12 mx-2 text-lg font-semibold duration-300 motion-safe:hover:scale-105;
}

.product-bg {
    @apply w-full items-start min-h-screen py-4 bg-gray-300 justify-center;
}

.add-to-cart-btn {
    @apply flex w-full justify-center bg-blue-500 rounded-md py-2 text-white font-semibold duration-200;
}

.cart-item {
    @apply flex w-full justify-around py-4 items-center border-b-2 border-slate-200;
}

.cart-quantity-container {
    @apply rounded-l-md rounded-r-md p-0 m-0;
}

.cart-quantity-btn {
    @apply bg-slate-400 text-white text-center px-3 font-bold items-center min-h-full;
}

.cart-quantity-btn.disabled{
    @apply bg-slate-200 border-slate-200
}

.card-backdrop {
    @apply max-w-screen-lg min-h-full rounded-xl bg-white pb-12;
}

.shake{
    background-color: red !important;
    animation: shake 0.2s infinite;
}
@keyframes shake {
  0%  { transform: translate(0px, 0px);  }
  25% { transform: translate(2px, 0px);  }
  50% { transform: translate(-2px, 0px); }
  75% { transform: translate(1px, 0px); }
  100%{ transform: translate(0px, 0px); }
}
